<div>
  <div>
    <input type="text" #newName/><button (click)="createGameRoom(newName.value)">make</button>
  </div>
  <div>
    <input  type="text" #name/><button (click)="joinGameRoom(name.value)">join</button>
  </div>
  <div *ngIf="showUserBtn">
    <button [disabled]="user.black" [class.selected]="userType == -1" (click)="changeDiskType(-1)">black</button>
    <button [disabled]="user.white" [class.selected]="userType == 1" (click)="changeDiskType(1)">white</button>
    <button (click)="selectDiskType()">select</button>
  </div>
  <div>
    <button (click)="startGame()">start</button>
  </div>
</div>
<div *ngIf="user">
  <p>turn: {{user.turn}}</p>  
</div>
<div>
  <p>black: {{score.black}}  | white: {{score.white}}</p> 
</div>
<div class="row" *ngFor="let row of board">
   <div class="col" *ngFor="let cell of row" (click)="setCell(cell)">
     <div class="disk" [class.black]="cell.state == -1" [class.white]="cell.state == 1">{{cell.row}}{{cell.col}}</div>
   </div>
</div>
