h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.row {
/*  display: block;  */
  display: table;
  border-top: 5px solid;
  border-left: 5px solid;
  border-right: 5px solid;
  background-color: lightgray;
}
.row:last-child {
  border-bottom: 5px solid;
}

.col {
  display: table-cell;
  width: 50px;
  height: 50px;
  border-right: 5px solid;
}

.col:last-child {
  border-right: 0px;
}

.disk {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 3px 3px; 
}
.black {
  background: black;
}
.white {
  background: white;
}
.selected {
  background: gray;
}